<!DOCTYPE html>
<html lang = "KO" xmlns:th="http://www.typeleaf.org">
<head>
	<!-- 참고1: https://www.popit.kr/spring-security-ajax-%ED%98%B8%EC%B6%9C-%EC%8B%9C-csrf-%EA%B4%80%EB%A0%A8-403-forbidden-%EC%97%90%EB%9F%AC/ -->
	<!-- 참고2: http://rldk2002.tistory.com/151 -->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<script src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">

		// spring security 해결 -> csrf이 enabled되어있기 때문에 이를 해결하기 위한 방안
		// csrf와 meta 태그, 아래의 token 값에 대해 공부 필요
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
		
		var jsonData = {}
		jsonData["key"] = "keyTest";
		jsonData["box"] = "1";
		jsonData["user_id"] = "dbuser_test";
		
		function ajaxTest() {
			
			console.log(jsonData);
			
			$.ajax( {
				type: "POST",
	            contentType: "application/json",
	            url: "object",
	            data: JSON.stringify(jsonData),
	            dataType: 'json',
	            // cache: false,
	            // timeout: 600000,
	            success: function (data) {
	 				console.log("success: ", data);
	 			},
	            error: function (e) {
	            	
	                var json = "<h4>Ajax Response Error</h4><pre>"
	                    + e.responseText + "</pre>";
	 
	                console.log("ERROR : ", e);
	                console.log("json: ", json);
	            }
			});
		}
	</script>
</head>
<body>
	<button type="button" onclick="ajaxTest();">test</button>
</body>
</html>