<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="loginForm/images/icons/favicon.ico"/> -->
	<link rel="shortcut icon" href="main/assets/images/1-127x128.png" type="image/x-icon">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="loginForm/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="loginForm/css/util.css">
	<link rel="stylesheet" type="text/css" href="loginForm/css/main.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="loginForm/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/vendor/bootstrap/js/popper.js"></script>
	<script src="loginForm/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/vendor/daterangepicker/moment.min.js"></script>
	<script src="loginForm/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="loginForm/js/main.js"></script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('loginForm/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Login
				</span>
				<form name='f' class="login100-form validate-form p-b-33 p-t-5" th:action="@{/j_spring_security_check}" method='POST'>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					
					<div th:if="${#request.getParameter('error') == 'true'}"
				            style="color:red;margin:10px 30px;">
				         Login Failed!!!<br />
				         Reason :
				         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
				            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
				                Static summary
				         </span>
				    </div>
					
					<div class="container-login100-form-btn m-t-32">
						<!-- 
						<button class="login100-form-btn">
							Login
						</button>
						 -->
						<input class="login100-form-btn" type="submit" value="login" /> &nbsp;&nbsp;&nbsp;
						<input class="login100-form-btn" type="button" onclick="location.href='/create';" value="Sign Up" />
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
</html>