<!DOCTYPE html>
<html lang = "KO" xmlns:th="http://www.typeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>button test</title>
  </head>
  <body>
    <h1>ON/OFF page</h1>
    <span th:if="${returnedData} != null" th:text="${returnedData}"></span>
    <br>
    <form th:action = "@{/data}" method = "post">
      <input type = 'submit' value = 'UsaD6HEdz0,,' name = 'led'>
      <input type = 'submit' value = 'close' name = 'led'>
      <input type = 'submit' value = 'keyNum,1,idtest' name = 'led'>
    </form>
  </body>
</html>
